:root {
    /* =========================================
       1. PALETTE DE COULEURS (GLOBAL VARIABLES)
       ========================================= */
    
    /* Couleurs de fond */
    --bg-base:      #2b2b2b; /* Gris principal */
    --bg-darker:    #1e1e1e; /* Zones enfoncées */
    --bg-lighter:   #3d3d3d; /* Hover / Zones claires */
    --bg-bar:       #1a1a1a; /* La barre elle-même */

    /* Couleurs d'accentuation (Dracula/Neon Palette) */
    --col-white:            #e0e0e0;
    --col-dim:              #858585;
    --col-accent:           #bd93f9;
    --col-red:              #ff2323;
    --col-orange:           #ff7f23;
    --col-yellow:           #ffee00;
    --col-blue:             #0059ff;
    --col-navy:             #4b81ff;
    --col-cyan:             #50dfff;
    --col-success:          #3fff6f;
    --col-warning:          #ffb86c;
    --col-error:            #ff5555;
    --col-black:            #11111b;
    --col-true-black:       #000000;

    /* =========================================
       2. CONFIGURATION DU RETRO-STYLING
       ========================================= */
    
    /* Dimensions */
    --font-main:              "JetBrainsMono NFP", monospace;
    --font-size:              14px;
    --icon-size:              18px;
    --icon-adjust:            -2px 0 0 0;
    --radius:                 2px;     /* Arrondi léger */
    --border-w:               2px;     /* Epaisseur du relief 3D */
    
    /* Lumière et Ombre pour l'effet 3D */
    --light-source:         rgba(255, 255, 255, 0.15);
    --shadow-source:        rgba(0, 0, 0, 0.6);

    --grad-neon-1:          #e100ff;    --grad-neon-2:          #7f00ff;
    --grad-neon:        qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-neon-1), stop:1 var(--grad-neon-2));
    
    --grad-warm-1:          #ffb86c;    --grad-warm-2:          #ff5555;
    --grad-warm:        qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-warm-1), stop:1 var(--grad-warm-2));

    --grad-weather-1:       #283e51;    --grad-weather-2:       #0a2342;
    --grad-weather:     qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-weather-1), stop:1 var(--grad-weather-2));
    
    --grad-traffic-1:       #ffee00;    --grad-traffic-2:       #ffb86c;
    --grad-traffic:     qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-traffic-1), stop:1 var(--grad-traffic-2));

    --grad-media-1:         #ff3c00;    --grad-media-2:         #aa0000;
    --grad-media:       qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-media-1), stop:1 var(--grad-media-2));

    --grad-bt-1:            #00c3ff;    --grad-bt-2:            #1100ff;
    --grad-bt:          qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-bt-1), stop:1 var(--grad-bt-2));

    --grad-komorebi-1:      #00ff99;    --grad-komorebi-2:      #00aeff;
    --grad-komorebi:    qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-komorebi-1), stop:1 var(--grad-komorebi-2));

    --grad-red-1:           #ff0000;    --grad-red-2:           #ff004c;
    --grad-red:         qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-red-1), stop:1 var(--grad-red-2));

    --grad-gpu-1:           #0080ff;    --grad-gpu-2:           #004cff;
    --grad-gpu:         qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-gpu-1), stop:1 var(--grad-gpu-2));

    --grad-mem-1:           #ffbb00;    --grad-mem-2:           #ff6a00;
    --grad-mem:         qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-mem-1), stop:1 var(--grad-mem-2));

    --grad-clock-1:         #00ffb3;    --grad-clock-2:         #15ff00;
    --grad-clock:       qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-clock-1), stop:1 var(--grad-clock-2));

    --grad-vol-1:           #00e1ff;    --grad-vol-2:           #0091ff;
    --grad-vol:         qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-vol-1), stop:1 var(--grad-vol-2));

    --grad-lang-1:          #ff0090;    --grad-lang-2:          #a50052;
    --grad-lang:        qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 var(--grad-lang-1), stop:1 var(--grad-lang-2));
            
}

/* =========================================
   RESET & BASE
   ========================================= */
* {
    font-family: var(--font-main);
    font-size: var(--font-size);
    font-weight: 800;
    color: var(--col-black);
    margin: 0;
    padding: 0;
}
/* FOR DEBUG 
.widget-container:hover {
    background-color: blue;
}
*/

/* =========================================
   STRUCTURE PRINCIPALE
   ========================================= */
.yasb-bar {
    background-color: #00000000;
    padding: 4px 4px;
}

/* Widget par défaut (Effet 3D Sortant) */
.widget-container {
    padding: 0 10px;
}

.widget {
    margin: 2px 3px;
    background: var(--col-dim);
    
    /* Optimization 3D borders... */
    border-style: solid;
    border-width: var(--border-w);
    border-color: var(--light-source) var(--shadow-source) var(--shadow-source) var(--light-source);

    /* --- AJOUTS POUR LE CENTRAGE (FLEXBOX) --- */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1; 
}


/* Icones génériques */
.icon {
    font-size: var(--icon-size);
    margin-right: 4px;
}

/* Icones Ajustée */
.bluetooth-widget .icon,
.volume-widget .icon {
    padding: var(--icon-adjust); 
}

/* Tooltips */
.tooltip {
    background: var(--bg-base);
    color: var(--col-white);
    border: 1px solid var(--col-accent);
    padding: 4px 8px;
}


/* =========================================
   WIDGETS: TRANSPARENCY & GRADIENT TEXT (GROUPED)
   ========================================= */
/* Liste de tous les widgets qui n'ont plus de boite 
   mais qui affichent du texte coloré.
*/

.power-menu-widget,
.cpu-widget,
.gpu-widget,
.memory-widget,
.language-widget,
.active-window-widget,
.volume-widget,
.komorebi-workspaces,
.bluetooth-widget,
.traffic-widget,
.media-widget,
.clock-widget,
.weather-widget { 
    border: none; 
    background: transparent; 
}


/* --- Application des couleurs spécifiques (Dégradés) --- */

/* Power */
.power-menu-widget .icon, .power-menu-widget .label { color: var(--grad-red); }

/* CPU */
.cpu-widget .icon, .cpu-widget .label { color: var(--grad-red); }

/* GPU */
.gpu-widget .icon, .gpu-widget .label { color: var(--grad-gpu); }

/* MEMORY */
.memory-widget .icon, .memory-widget .label { color: var(--grad-mem); }

/* LANGUAGE */
.language-widget .icon, .language-widget .label { color: var(--grad-lang); }

/* ACTIVE WINDOW */
.active-window-widget .widget-container .label { margin: 0 8px 0 0; color: var(--col-dim); }

/* VOLUME */
.volume-widget .label { color: var(--grad-vol); }
.volume-widget .icon { color: var(--grad-vol); } /* Ajout de l'icone aussi pour cohérence */

/* KOMOREBI (Workspaces) */
.komorebi-workspaces .ws-btn {
    font-size: var(--icon-size);
    background-color: transparent;
    padding: 2px 4px;
    margin: 0 1px;
    border-radius: var(--radius);
    color: var(--grad-komorebi); /* Couleur texte dégradé */
}


/* TRAFFIC */
.traffic-widget .icon, .traffic-widget .label { color: var(--grad-traffic); }
.traffic-widget .icon.offline { color: var(--col-error); }

/* MEDIA PLAYER */
.media-widget .label {
    color: var(--col-dim);
    padding: 0 0 0 8px;
}


/* CLOCK */
.clock-widget .icon, .clock-widget .label { 
    color: var(--grad-clock);
    padding: 0 4px;
}

/* =========================================
   SYSTRAY
   ========================================= */
.systray,
.systray:hover { background: transparent; border: none; }

.systray .button,
.systray .unpinned-visibility-btn { background: transparent; border: none; padding: 0 8px; }

.systray .button[dragging=true] {
    background: orange;
    border-color: #FF8800;
}

.systray .unpinned-visibility-btn {
    color: var(--col-dim);
}

